@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TradeGothic";
  src: url("../src/assets/Trade-Gothic-LT-Std-Bold");
}

@layer base {
  body {
    @apply font-body;
  }
}

/* Toggle */
@layer utilities {
  .delivery-toggle-active {
    @apply box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    background-color: #451400;
  }

  /* .whitemon svg use {
    fill: white;
  } */
}

/* Search Input */
@layer components {
  .search-input {
    /* @apply bg-purple-100 */
  }

  .input-placehoder-text {
    @apply text-[#451400];
  }
  .input-placehoder-text--input-focus-active-true {
    @apply top-0 text-xs;
  }
  .input-placehoder-text--input-focus-active-false {
    @apply top-4 text-base;
  }
}

/* Restaurant Container */
@layer components {
  .restaurant-container  {
    @apply text-sm text-[#786259];
  }

}

/* Initial Message */
@layer components {
  .initial-message p {
    @apply text-[#8c766d] text-sm  font-light
  }
}
